@model IEnumerable<GitHubSearchProject.Models.SearchQuery>
@*@model GitHubProjectsSearch.Models.DataViewModel*@

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-controller="SearchQueries" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>

@foreach (var item in Model)
{
    <div class="card">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item)
                </dd>
            </dl>
        </div>
    </div>
}
